<div class="grid-container">
    <section>
        <div class="title-label">
            <h1 class="mat-h1">User List</h1>
            <p>Di seguito la lista degli utenti censiti:</p>
        </div>
    </section>
    <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="700px">
        <mat-grid-tile [colspan]="( cardLayout | async )?.users.cols"
            [rowspan]="( cardLayout | async )?.users.rows">
            <app-card title="Users">
                <app-custom-table [tableData]="users" [tableColumns]="usersTableColumns" [isFilterable]="true"
                    [isPageable]="true" [paginationSizes]="[2,4,6]" [defaultPageSize]="4"
                    [rowActionIcon]="'remove_shopping_cart'" (rowAdd)="openDialogUser('Add', {})"
                    (rowEdit)="openDialogUser('Update', $event)" (rowRemove)="openDialogUser('Delete', $event)"
                    (rowClick)="goToUser($event)"></app-custom-table>
            </app-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>