<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2>
</noscript>
<mat-card>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item *ngFor="let message of messages" role="listitem">{{message}}</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-footer>
        <button mat-button (click)="clear()">Clear</button>
    </mat-card-footer>
</mat-card>